amqp==5.0.6
autopep8==1.5.7
beautifulsoup4==4.9.3
billiard==3.6.4.0
boto3==1.17.109
botocore==1.20.109
bs4==0.0.1
celery==5.1.2
Django==3.2.5
django-celery-beat==2.2.1
django-celery-results==2.2.0
django-environ==0.4.5
mysql-connector-python==8.0.21
mysqlclient==2.0.3
PyJWT==1.7.1
python-crontab==2.5.1
redis==3.5.3
requests==2.25.1
soupsieve==2.2.1
urllib3==1.26.6
vine==5.0.0
